@CHARSET "ISO-8859-1";

.error {
	font-size: small;
	color: red;
	margin-left: 10px;
}
.valid {
	font-size: small;
	color: green;
	margin-left: 10px;
}
.success {
	font-size: medium;
	color: green;
	margin-left: 10px;
}
input[type=text] {
	width: 250px;
	
}

input[type=password] {
	width: 250px;
	
}
.label {
	text-align: right;
	vertical-align: top;
}
div.footer {
	font-size: small;
	color: gray;
}

div.content {
	position: relative;
	padding: 40px;
}

div.header {
	position: relative;
	text-align: center;
	width: 100%;
	height: 80px;
	background-color: #0080ff;
}
a.login {
	position: absolute;
	top: 10px;
	right: 10px;
	color: white;
}

#loginheader{
	position: absolute;
	top: 20%;
	right: 2%;
	color: red;
	background-color: white;
	width: 150px;
}
#homeheader {
	position: absolute;
	top: 20%;
	right: 15%;
	color: red;
	background-color: white;
	width: 150px;
}
a.title {
	color: white;
	font-size: 35px;
}
.logo {
	position: absolute;
	left: 10px;
	margin: 5px;
	size: 20px;
	width: 70px;
}

.welcome {
	color: #0080ff;
}
.tab-content{
	background-color: white;
	padding: 2%;
}
.main {
	/*background-image: url("bg/water-line-texture.jpg");
	/* opacity: .4; */
}
body {
	background-color: #c0c0c0;
}

.mySlides {	
	width: 800px;
	position: relative;
	right: 20%;
	left:20%;
	margin: 15px;
	display:none;
	size: 800px;
}

.slideContainer {
	max-width: 90%;
}

.form-horizontal{
	margin: 2%;
	padding: 2%;
}

.inputTableForm{
	border: none;
	background: none;
	
}